<ion-header>
  <ion-toolbar class="color">
    <ion-title>pokemon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionChange)="busqueda($event.detail.value)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of pokemones" detail [routerLink]="['/pokemon-detalles/'+item.id]">
     <ion-avatar>
       <img [src]="item.img" />
     </ion-avatar>
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
  </ion-list>


  <ion-infinite-scroll *ngIf="viewInfinityScroll" threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
